* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eae6de;
}

/* Header Styles */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #157759;
    color: white;
}

.bottom-header {
    display: flex;
    padding: 10px;
    background-color: #1e9b75;
    color: white;
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons a {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buttons a:hover {
    background-color: #004d33;
}

header .language button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}



/* Footer Section */
footer {
    text-align: center;

    background-color: #157759;
    color: #fff;
    /*margin-top: 40px;*/
}
